.marquee-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .wave-animation {
    display: inline-block;
    animation: normal 2s infinite;
    overflow: hidden;
  }
  
  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(22px);
    }
    100% {
      transform: translateY(0);
    }
  }
  